# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Python environment
.venv/
env/

# Compiled source
lib/

# Draws
scripts/draws/

# Python-specific
__pycache__/
*.py[cod]

# Secrets
.env

# Jupyter
*.ipynb_checkpoints/

# Logs
logs/
mlruns/

# Data
data/
tmp/