# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Python environment
.venv/
env/

# Python-specific
__pycache__/
*.py[cod]

# Secrets
.env

# Jupyter
*.ipynb_checkpoints/

# Logs
*.log

# Data
data/raw
data/processed
data/features/
